.gallery{
	display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	.entry{
		cursor:pointer;
		margin-right:12.7px;
		@include max-width(599px){
			margin-right:0px;
			margin-top:0px;
			margin-bottom:2px;
		}
		img{
			height: 250px;
			@include max-width(599px){
				height:200px;
			}
			@include max-width(359px){
				height:150px;
			}
		}
		
	}
}
.gallery:after {
  content: "";
  flex: auto;
  justify-content: space-around;
}