.header-menu{
	display: flex;
	justify-content: flex-start;
	border-bottom : 1px solid white;
	margin-bottom:20px;
	.links{
		display: flex;
		justify-content: space-between;
		color:#fff;
		list-style: none;
		text-decoration: none;
		margin:0;
		padding:0;
		li{
			padding:10px;
			margin:0;
			padding-top:22px;
		}
		li:nth-of-type(1){
			padding-top:10px;
			margin-right:10px;
		}
		a{
			color:#fff;
			text-decoration: none;
			font-size:17px;
			letter-spacing: 0.5px;
		}
	}
	.logo{
		max-height:35px;
		height:auto;
	}
	.search{
		input {
			border:none;
			
			background-color: $main-background-color;
			
		}
		input:focus{
			outline:none;
			border-bottom:1px solid white;
			height:20px;
			margin-top:15px;
			margin-left:10px;
		}
	}
}