
.prize-list{
	letter-spacing : 0.7px;
	width : 80%;
	font-family: gotham;
	border:1px solid black;
	margin: 0 auto;
	line-height:25px;
	h4,h3,h2 {
		text-align: center;
	}
	.prize-entry{
		border:1px solid red;
		margin-bottom:15px;

	}
}