.prize{
	margin-top:30px;
	letter-spacing : 0.7px;
	max-width:1600px;
	width : 80%;
	color:#fff;
	display:block;
	font-family: gotham;
	margin: 0 auto;
	line-height:25px;
	@include max-width(599px) {
		width:100%;
	}
	h4,h3,h2 {
		text-align: center;
		display: block;
		margin: 0 0 5px 0;
	}
	.prize-title{
		margin-top:35px;
	}
	.explanation{
		margin:40px 0;
		padding:0px 10px;
	}
	.entry{
		margin-bottom:25px;
		display:flex;
		flex-direction: row;
		align-items:stretch;
		padding:5px;
		@include max-width(599px) {
			display: block;
		}
		h3{
			margin-top:0px;
		}
		img{	
			max-height:400px;
			@include max-width(599px) {
				max-height:175px;
				display: block;
				margin:0 auto;
				margin-bottom:10px;

			}
		}
		.information{
			padding:0px 20px;
			display: flex;
  			flex-direction: column;
  			font-size:13px;
		}
		.title{
			font-size:30px;
			color:#000;
			background-color: #fff;
			width:400px;
			padding:5px 0;
			/*margin:0 auto;*/
			padding-left:5px;
			@include max-width(599px) {
				display: inline-block;
				width:auto;
				font-size: 18px;
			}
		}
		.year{
			font-size:50px;
			margin:15px 0px;
		}
	}
}