
@import "compass/css3";

// ----- Modal Mixin ----- //

@mixin modal($id) {
	bottom: 100%;
	height: 100%;
	left: -100%;
	max-height: 100%;
	opacity: 0;
	overflow: hidden;
	overflow-y: auto;
	position: fixed;
	visibility: hidden;
	width: 100%;
	z-index: 11;

	@at-root #{$id}:target {
		bottom: 0;
		left: 0;
		opacity: 1;
		visibility: visible;
	}
}

// Fade modal in
@mixin modal-fade-in($duration-in: .85s, $duration-out: .7s, $timing: ease-in-out, $id: '#fade') {
	@include modal($id);
	// Transition out: only opacity and delay the rest
	@include transition(opacity #{$duration-out} #{$timing}, bottom 0s #{$duration-out}, left 0s #{$duration-out}, visibility 0s #{$duration-out});

	// Transition in: opacity
	@at-root #{$id}:target {
		@include transition(opacity #{$duration-in} #{$timing});
	}
}

// Slide modal in
@mixin modal-slide-in($direction: top, $duration-in: .85s, $duration-out: .4s, $timing: cubic-bezier(.215, .61, .355, 1)) {
	$id: '##{$direction}';
	@include modal($id);

	// Slide left or right
	@if ($direction == left) or ($direction == right) {
		// Transition out: only left and delay the rest
		@include transition(left #{$duration-out} #{$timing}, bottom 0s #{$duration-out}, opacity 0s #{$duration-out}, visibility 0s #{$duration-out});

		// Slide in from right
		@if $direction == right {
			left: 100%;
		}

		// Transition in: left
		@at-root #{$id}:target {
			@include transition(left #{$duration-in} #{$timing});
		}

	// Slide up or down
	} @else {
		// Transition out: only bottom and delay the rest
		@include transition(bottom #{$duration-out} #{$timing}, left 0s #{$duration-out}, opacity 0s #{$duration-out}, visibility 0s #{$duration-out});

		// Slide down from top (default)
		@if $direction == bottom {
			bottom: -100%;
		}

		// Transition in: bottom
		@at-root #{$id}:target {
			@include transition(bottom #{$duration-in} #{$timing});
		}
	}
}

// ----- Example @includes ----- //

// Slide in from bottom
.bottom {
	@include modal-slide-in($direction: bottom);
}

// Fade In
.fade {
	@include modal-fade-in($duration-in: .6s, $duration-out: .3s);
}

// Slide in from left
.left {
	@include modal-slide-in($direction: left);
}

// Slide in from right
.right {
	@include modal-slide-in($direction: right);
}

// Slide in from top
.top {
	@include modal-slide-in($direction: top);
}




@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

// Reset

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

dialog, menu, section {
	display: block;
}

// Reusables

$army-green: #596448;

// Better Font Rendering
@mixin crispy-text {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
/*	color: #2b2b2b;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .1em;
	padding: 2em 5%;*/
}

code {
	display: block;
	letter-spacing: 0;
	line-height: 1.3;

	+ code {
		margin-top: 5px;
	}
}

h1, h2 {
	letter-spacing: .1em;
	line-height: 1.3;
}

h2 {
	font-size: 18px;
	text-transform: capitalize;
}

.demo-btn-close {
	color: inherit;
	font-size: 10px;
	letter-spacing: .3em;
	position: absolute;
	right: 10px;
	text-decoration: none;
	text-transform: uppercase;
	top: 10px;
}

.demo-info {
	padding-top: 2em;

	h2 {
		margin-bottom: .25em;
	}
}

.demo-link {
	color: tomato;
	display: inline-block;
	margin: 0 1em .75em 0;
	transition: color .15s ease-in;
}

.demo-subtitle {
	margin-bottom: 5px;
}

.demo-title {
	font-size: 30px;
	margin-bottom: .25em;
}

.modal-overlay {
	background-color: rgba(9,7,37,0.8);
	a{
		color: white;
	}
	padding: 3em 5%;

	h2 {
		@include crispy-text;
	}
}