.search-results{
	color:#fff;
	margin:0 auto;
	width:65%;
	@include max-width(599px) {
		width:100%;
	}

	letter-spacing : 0.7px;
	color:#fff;
	display:block;
	font-family: gotham;
	line-height:25px;


	.results-title{
		font-size:22px;
		font-family: gotham;
		padding-left:7px;
	}
	h1{
		margin-bottom:20px;
	}
	.entry{
		margin-bottom:25px;
		display:flex;
		flex-direction: row;
		align-items:stretch;
		padding:5px;
		@include max-width(599px) {
			display: block;
		}
		.author{
			margin-top:15px;
			margin-bottom:10px;
			font-size: 19px;
		}
		h3{
			margin-top:0px;
		}
		img{	
			max-height:400px;
			@include max-width(599px) {
				max-height: 250px;
				max-width:100%;
				margin: 0 auto;
				display: block;
				margin-bottom:10px;
			}
		}
		.information{
			padding:0px 20px;
			display: flex;
  			flex-direction: column;
  			font-size:13px;
		}
		.title{
			font-size:30px;
			color:#000;
			background-color: #fff;
			width:400px;
			padding:5px 0;
			padding-left:5px;
			@include max-width(599px) {
				display: inline-block;
				width:auto;
			}
		}
		.year{
			font-size:50px;
			margin:15px 0px;
		}	
	}
		
}